.datasetArea {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.dataSetItem {
  padding:  10px 20px;
  border-bottom: 1px solid #ddd;
}

.active {
  color: #fff;
  background: cornflowerblue;
}